.search{
    position: absolute;
    padding-left: 6px;
    padding-block: 5px;
    color:white;
    width: 200px;
    top: 40px;
    right: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
}