.genres__wrapper{
    position: relative;
}
.genres{
    width: 200px;
    background: transparent;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color:#fff;
}
.genres:hover {
    border-color: #aaa;
}
.genres:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
.clear-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #888;
}